body,
h1,
h2{
    padding: 0;
    margin: 0;
    color: #f3f3f3;
    font-family: 'Poppins', sans-serif;
}
.logo-name{
    font-family: 'Darumadrop One', cursive;
    color: #f3f3f3;
}

body {
    background-color: #df7a15;
}

p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #f3f3f3;
}

h1 {
    color: #f3f3f3;
    font-size: 32px;
    margin-bottom: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px;
    font-size: 20px;
    font-family: 'Sigmar', cursive;
    height: 100px;
    background-color: #272727;
    color: #f3f3f3;
}

header a {
    color: #f3f3f3;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
}

header .nav-link+.nav-link {
    margin-left: 10px;
}

header .nav-link:hover:not(.active) {
    background-color: #6e6e65ce;
}

.logo-container {
    flex: 1;
}

.logo {
    width: 50px;
    height: auto;
}

section {
    padding: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.social-media-icons {
    display: flex;
    gap: 8px;
}

.social-media-icons a {
    text-decoration: none;
}

.social-media-icons img {
    width: 24px;
    height: 24px;
}

.social-media-icons img:hover {
    opacity: 0.8;
}

.container {
    display: flex;
}

.container-sobre{
    background-color: #272727;
}

.imagem {
    flex: 1;
}

.imagem img {
    max-width: 100%;
}

.texto {
    flex: 1;
    padding: 0 20px;
}

.texto h2 {
    margin-bottom: 10px;
}

.slider-destaque {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
}

.slider-destaque img {
    width: 300px;
    padding: 10px 0px;
    padding-left: 30px;
}

footer {
    background-color: #272727;
    padding: 20px 0px;
    text-align: center;
    color: #fff;
    margin-top: 100px;
    width: 100%;
    position: absolute;
}

.button-pedidos{
    width: 30px;
    height: auto;
}

.button-pedidos:hover:not(.active) {
    background-color: #fcaa5ece;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    table-layout: fixed;
}
  td, th {
    border: 1px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
}